<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px">
    <div class="col-10">
    <h4
      style="color:rgb(100,100,100); margin-bottom:4px;">
    </h4>
    <div>
      <b>About: </b>{{projects['about']}}
    </div>    
    {% if 'sources' in projects %}
    <div>
      <b>Sources: </b>{{projects['sources']}}
    </div>
    {% endif %}
    </div>
    <div class="col-2 padding-right:16px">
      <a href="mailto:tommyrlerma@gmail.com?subject=Get in Contact" type="button" class="btn btn-outline-primary float-right align-middle">Apply</a>
    </div>
  </div>